@font-face {
  font-family: 'budgetbear';
  src: url("../fonts/budgetbear.eot?b59eu3");
  src: url("../fonts/budgetbear.eot?#iefixb59eu3") format("embedded-opentype"), url("../fonts/budgetbear.ttf?b59eu3") format("truetype"), url("../fonts/budgetbear.woff?b59eu3") format("woff"), url("../fonts/budgetbear.svg?b59eu3#budgetbear") format("svg");
  font-weight: normal;
  font-style: normal; }
.bb {
  display: inline-block;
  font-family: 'budgetbear';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bb-suitcase:before {
  content: "\e60a"; }

.bb-dollar:before {
  content: "\e603"; }

.bb-bill:before {
  content: "\e600"; }

.bb-car:before {
  content: "\e601"; }

.bb-credit-cards:before {
  content: "\e602"; }

.bb-graduation-cap:before {
  content: "\e604"; }

.bb-house:before {
  content: "\e605"; }

.bb-palm-tree:before {
  content: "\e606"; }

.bb-piggy-bank:before {
  content: "\e607"; }

.bb-sapling:before {
  content: "\e608"; }

.bb-star:before {
  content: "\e609"; }

.row:after {
  clear: both;
  display: table;
  content: " "; }

.button, input[type='button'], input[type='submit'], button, .column-inner, input, select, textarea {
  border-radius: 3px; }

.row, .calculating-bear.fixed-bear .calculating-bear-inner {
  max-width: 1000px;
  margin: 0 auto; }

/*--------*/
/* Resets */
/*--------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

/*--------*/
/* Global */
/*--------*/
html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  color: #777c79;
  font: 20px/1.5 "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300; }

main {
  display: block; }
  main ul, main ol {
    margin-left: 3rem; }

iframe {
  display: block;
  max-width: 100%; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

a img {
  border: 0; }

/*-----------------*/
/* Utility Classes */
/*-----------------*/
.button, input[type='button'], input[type='submit'], button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  padding: 10px 15px;
  border: solid 1px #4e8452;
  background-color: #4e8452;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none; }
  .button:hover, input[type='button']:hover, input[type='submit']:hover, button:hover {
    border-color: #2e5630;
    background-color: #2e5630;
    color: #fff; }
  .button-large.button, input.button-large[type='button'], input.button-large[type='submit'], button.button-large {
    padding: 15px 20px;
    font-size: 2.4rem; }
  .button-transparent.button, input.button-transparent[type='button'], input.button-transparent[type='submit'], button.button-transparent {
    background-color: transparent;
    border-color: #4e8452;
    color: #4e8452; }
  .button-light.button, input.button-light[type='button'], input.button-light[type='submit'], button.button-light {
    background-color: #afdbb0;
    border-color: #afdbb0;
    color: #2e5630; }
  .button-dark-gray.button, input.button-dark-gray[type='button'], input.button-dark-gray[type='submit'], button.button-dark-gray {
    background-color: #555;
    border-color: #555; }
  .button-transparent.button:hover, input.button-transparent[type='button']:hover, input.button-transparent[type='submit']:hover, button.button-transparent:hover, .button-light.button:hover, input.button-light[type='button']:hover, input.button-light[type='submit']:hover, button.button-light:hover, .button-black.button:hover, input.button-black[type='button']:hover, input.button-black[type='submit']:hover, button.button-black:hover {
    background-color: #4e8452;
    border-color: #fff;
    color: #fff; }

.up-and-down-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .up-and-down-buttons .button-area {
    -webkit-flex: 0 1 80px;
    -ms-flex: 0 1 80px;
    flex: 0 1 80px;
    margin-left: 10px;
    text-align: center; }
    .up-and-down-buttons .button-area:first-child {
      margin-left: 0; }
    .up-and-down-buttons .button-area p {
      margin: 0;
      border-left: solid 1px #eee;
      border-right: solid 1px #eee;
      font-size: 1.6rem; }
  .up-and-down-buttons input[type='button'] {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    border-color: #eee;
    background-color: #eee;
    color: #4e8452;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; }
    .up-and-down-buttons input[type='button']:first-child {
      border-radius: 10px 10px 0 0; }
      .up-and-down-buttons input[type='button']:first-child:hover {
        border-color: #afdbb0;
        background-color: #afdbb0; }
    .up-and-down-buttons input[type='button']:last-child {
      border-radius: 0 0 10px 10px; }
      .up-and-down-buttons input[type='button']:last-child:hover {
        border-color: #ecc7d1;
        background-color: #ecc7d1; }

/*-------------*/
/* Grid System */
/*-------------*/
.column {
  float: left;
  min-height: 1px;
  padding: 10px; }
  .column.center {
    float: none;
    margin: 0 auto; }

.column-inner {
  padding: 10px; }

.column.xs-span1 {
  width: 8.33333%; }

.column.xs-span2 {
  width: 16.66667%; }

.column.xs-span3 {
  width: 25%; }

.column.xs-span4 {
  width: 33.33333%; }

.column.xs-span5 {
  width: 41.66667%; }

.column.xs-span6 {
  width: 50%; }

.column.xs-span7 {
  width: 58.33333%; }

.column.xs-span8 {
  width: 66.66667%; }

.column.xs-span9 {
  width: 75%; }

.column.xs-span10 {
  width: 83.33333%; }

.column.xs-span11 {
  width: 91.66667%; }

.column.xs-span12 {
  width: 100%; }

.column.xs-left0 {
  margin-left: 0%; }

.column.xs-right0 {
  margin-right: 0%; }

.column.xs-left1 {
  margin-left: 8.33333%; }

.column.xs-right1 {
  margin-right: 8.33333%; }

.column.xs-left2 {
  margin-left: 16.66667%; }

.column.xs-right2 {
  margin-right: 16.66667%; }

.column.xs-left3 {
  margin-left: 25%; }

.column.xs-right3 {
  margin-right: 25%; }

.column.xs-left4 {
  margin-left: 33.33333%; }

.column.xs-right4 {
  margin-right: 33.33333%; }

.column.xs-left5 {
  margin-left: 41.66667%; }

.column.xs-right5 {
  margin-right: 41.66667%; }

.column.xs-left6 {
  margin-left: 50%; }

.column.xs-right6 {
  margin-right: 50%; }

.column.xs-left7 {
  margin-left: 58.33333%; }

.column.xs-right7 {
  margin-right: 58.33333%; }

.column.xs-left8 {
  margin-left: 66.66667%; }

.column.xs-right8 {
  margin-right: 66.66667%; }

.column.xs-left9 {
  margin-left: 75%; }

.column.xs-right9 {
  margin-right: 75%; }

.column.xs-left10 {
  margin-left: 83.33333%; }

.column.xs-right10 {
  margin-right: 83.33333%; }

.column.xs-left11 {
  margin-left: 91.66667%; }

.column.xs-right11 {
  margin-right: 91.66667%; }

.column.xs-left12 {
  margin-left: 100%; }

.column.xs-right12 {
  margin-right: 100%; }

.column.xs-span1point5 {
  width: 12.5%; }

.column.xs-left1point5 {
  margin-left: 12.5%; }

.column.xs-right1point5 {
  margin-right: 12.5%; }

.column.xs-span2point4 {
  width: 20%; }

.column.xs-left2point4 {
  margin-left: 20%; }

.column.xs-right2point4 {
  margin-right: 20%; }

@media all and (min-width: 480px) {
  .column.sm-span1 {
    width: 8.33333%; }

  .column.sm-span2 {
    width: 16.66667%; }

  .column.sm-span3 {
    width: 25%; }

  .column.sm-span4 {
    width: 33.33333%; }

  .column.sm-span5 {
    width: 41.66667%; }

  .column.sm-span6 {
    width: 50%; }

  .column.sm-span7 {
    width: 58.33333%; }

  .column.sm-span8 {
    width: 66.66667%; }

  .column.sm-span9 {
    width: 75%; }

  .column.sm-span10 {
    width: 83.33333%; }

  .column.sm-span11 {
    width: 91.66667%; }

  .column.sm-span12 {
    width: 100%; }

  .column.sm-left0 {
    margin-left: 0%; }

  .column.sm-right0 {
    margin-right: 0%; }

  .column.sm-left1 {
    margin-left: 8.33333%; }

  .column.sm-right1 {
    margin-right: 8.33333%; }

  .column.sm-left2 {
    margin-left: 16.66667%; }

  .column.sm-right2 {
    margin-right: 16.66667%; }

  .column.sm-left3 {
    margin-left: 25%; }

  .column.sm-right3 {
    margin-right: 25%; }

  .column.sm-left4 {
    margin-left: 33.33333%; }

  .column.sm-right4 {
    margin-right: 33.33333%; }

  .column.sm-left5 {
    margin-left: 41.66667%; }

  .column.sm-right5 {
    margin-right: 41.66667%; }

  .column.sm-left6 {
    margin-left: 50%; }

  .column.sm-right6 {
    margin-right: 50%; }

  .column.sm-left7 {
    margin-left: 58.33333%; }

  .column.sm-right7 {
    margin-right: 58.33333%; }

  .column.sm-left8 {
    margin-left: 66.66667%; }

  .column.sm-right8 {
    margin-right: 66.66667%; }

  .column.sm-left9 {
    margin-left: 75%; }

  .column.sm-right9 {
    margin-right: 75%; }

  .column.sm-left10 {
    margin-left: 83.33333%; }

  .column.sm-right10 {
    margin-right: 83.33333%; }

  .column.sm-left11 {
    margin-left: 91.66667%; }

  .column.sm-right11 {
    margin-right: 91.66667%; }

  .column.sm-left12 {
    margin-left: 100%; }

  .column.sm-right12 {
    margin-right: 100%; }

  .column.sm-span1point5 {
    width: 12.5%; }

  .column.sm-left1point5 {
    margin-left: 12.5%; }

  .column.sm-right1point5 {
    margin-right: 12.5%; }

  .column.sm-span2point4 {
    width: 20%; }

  .column.sm-left2point4 {
    margin-left: 20%; }

  .column.sm-right2point4 {
    margin-right: 20%; } }
@media all and (min-width: 660px) {
  .column.md-span1 {
    width: 8.33333%; }

  .column.md-span2 {
    width: 16.66667%; }

  .column.md-span3 {
    width: 25%; }

  .column.md-span4 {
    width: 33.33333%; }

  .column.md-span5 {
    width: 41.66667%; }

  .column.md-span6 {
    width: 50%; }

  .column.md-span7 {
    width: 58.33333%; }

  .column.md-span8 {
    width: 66.66667%; }

  .column.md-span9 {
    width: 75%; }

  .column.md-span10 {
    width: 83.33333%; }

  .column.md-span11 {
    width: 91.66667%; }

  .column.md-span12 {
    width: 100%; }

  .column.md-left0 {
    margin-left: 0%; }

  .column.md-right0 {
    margin-right: 0%; }

  .column.md-left1 {
    margin-left: 8.33333%; }

  .column.md-right1 {
    margin-right: 8.33333%; }

  .column.md-left2 {
    margin-left: 16.66667%; }

  .column.md-right2 {
    margin-right: 16.66667%; }

  .column.md-left3 {
    margin-left: 25%; }

  .column.md-right3 {
    margin-right: 25%; }

  .column.md-left4 {
    margin-left: 33.33333%; }

  .column.md-right4 {
    margin-right: 33.33333%; }

  .column.md-left5 {
    margin-left: 41.66667%; }

  .column.md-right5 {
    margin-right: 41.66667%; }

  .column.md-left6 {
    margin-left: 50%; }

  .column.md-right6 {
    margin-right: 50%; }

  .column.md-left7 {
    margin-left: 58.33333%; }

  .column.md-right7 {
    margin-right: 58.33333%; }

  .column.md-left8 {
    margin-left: 66.66667%; }

  .column.md-right8 {
    margin-right: 66.66667%; }

  .column.md-left9 {
    margin-left: 75%; }

  .column.md-right9 {
    margin-right: 75%; }

  .column.md-left10 {
    margin-left: 83.33333%; }

  .column.md-right10 {
    margin-right: 83.33333%; }

  .column.md-left11 {
    margin-left: 91.66667%; }

  .column.md-right11 {
    margin-right: 91.66667%; }

  .column.md-left12 {
    margin-left: 100%; }

  .column.md-right12 {
    margin-right: 100%; }

  .column.md-span1point5 {
    width: 12.5%; }

  .column.md-left1point5 {
    margin-left: 12.5%; }

  .column.md-right1point5 {
    margin-right: 12.5%; }

  .column.md-span2point4 {
    width: 20%; }

  .column.md-left2point4 {
    margin-left: 20%; }

  .column.md-right2point4 {
    margin-right: 20%; } }
@media all and (min-width: 850px) {
  .column.lg-span1 {
    width: 8.33333%; }

  .column.lg-span2 {
    width: 16.66667%; }

  .column.lg-span3 {
    width: 25%; }

  .column.lg-span4 {
    width: 33.33333%; }

  .column.lg-span5 {
    width: 41.66667%; }

  .column.lg-span6 {
    width: 50%; }

  .column.lg-span7 {
    width: 58.33333%; }

  .column.lg-span8 {
    width: 66.66667%; }

  .column.lg-span9 {
    width: 75%; }

  .column.lg-span10 {
    width: 83.33333%; }

  .column.lg-span11 {
    width: 91.66667%; }

  .column.lg-span12 {
    width: 100%; }

  .column.lg-left0 {
    margin-left: 0%; }

  .column.lg-right0 {
    margin-right: 0%; }

  .column.lg-left1 {
    margin-left: 8.33333%; }

  .column.lg-right1 {
    margin-right: 8.33333%; }

  .column.lg-left2 {
    margin-left: 16.66667%; }

  .column.lg-right2 {
    margin-right: 16.66667%; }

  .column.lg-left3 {
    margin-left: 25%; }

  .column.lg-right3 {
    margin-right: 25%; }

  .column.lg-left4 {
    margin-left: 33.33333%; }

  .column.lg-right4 {
    margin-right: 33.33333%; }

  .column.lg-left5 {
    margin-left: 41.66667%; }

  .column.lg-right5 {
    margin-right: 41.66667%; }

  .column.lg-left6 {
    margin-left: 50%; }

  .column.lg-right6 {
    margin-right: 50%; }

  .column.lg-left7 {
    margin-left: 58.33333%; }

  .column.lg-right7 {
    margin-right: 58.33333%; }

  .column.lg-left8 {
    margin-left: 66.66667%; }

  .column.lg-right8 {
    margin-right: 66.66667%; }

  .column.lg-left9 {
    margin-left: 75%; }

  .column.lg-right9 {
    margin-right: 75%; }

  .column.lg-left10 {
    margin-left: 83.33333%; }

  .column.lg-right10 {
    margin-right: 83.33333%; }

  .column.lg-left11 {
    margin-left: 91.66667%; }

  .column.lg-right11 {
    margin-right: 91.66667%; }

  .column.lg-left12 {
    margin-left: 100%; }

  .column.lg-right12 {
    margin-right: 100%; }

  .column.lg-span1point5 {
    width: 12.5%; }

  .column.lg-left1point5 {
    margin-left: 12.5%; }

  .column.lg-right1point5 {
    margin-right: 12.5%; }

  .column.lg-span2point4 {
    width: 20%; }

  .column.lg-left2point4 {
    margin-left: 20%; }

  .column.lg-right2point4 {
    margin-right: 20%; } }
@media all and (min-width: 1024px) {
  .column.xl-span1 {
    width: 8.33333%; }

  .column.xl-span2 {
    width: 16.66667%; }

  .column.xl-span3 {
    width: 25%; }

  .column.xl-span4 {
    width: 33.33333%; }

  .column.xl-span5 {
    width: 41.66667%; }

  .column.xl-span6 {
    width: 50%; }

  .column.xl-span7 {
    width: 58.33333%; }

  .column.xl-span8 {
    width: 66.66667%; }

  .column.xl-span9 {
    width: 75%; }

  .column.xl-span10 {
    width: 83.33333%; }

  .column.xl-span11 {
    width: 91.66667%; }

  .column.xl-span12 {
    width: 100%; }

  .column.xl-left0 {
    margin-left: 0%; }

  .column.xl-right0 {
    margin-right: 0%; }

  .column.xl-left1 {
    margin-left: 8.33333%; }

  .column.xl-right1 {
    margin-right: 8.33333%; }

  .column.xl-left2 {
    margin-left: 16.66667%; }

  .column.xl-right2 {
    margin-right: 16.66667%; }

  .column.xl-left3 {
    margin-left: 25%; }

  .column.xl-right3 {
    margin-right: 25%; }

  .column.xl-left4 {
    margin-left: 33.33333%; }

  .column.xl-right4 {
    margin-right: 33.33333%; }

  .column.xl-left5 {
    margin-left: 41.66667%; }

  .column.xl-right5 {
    margin-right: 41.66667%; }

  .column.xl-left6 {
    margin-left: 50%; }

  .column.xl-right6 {
    margin-right: 50%; }

  .column.xl-left7 {
    margin-left: 58.33333%; }

  .column.xl-right7 {
    margin-right: 58.33333%; }

  .column.xl-left8 {
    margin-left: 66.66667%; }

  .column.xl-right8 {
    margin-right: 66.66667%; }

  .column.xl-left9 {
    margin-left: 75%; }

  .column.xl-right9 {
    margin-right: 75%; }

  .column.xl-left10 {
    margin-left: 83.33333%; }

  .column.xl-right10 {
    margin-right: 83.33333%; }

  .column.xl-left11 {
    margin-left: 91.66667%; }

  .column.xl-right11 {
    margin-right: 91.66667%; }

  .column.xl-left12 {
    margin-left: 100%; }

  .column.xl-right12 {
    margin-right: 100%; }

  .column.xl-span1point5 {
    width: 12.5%; }

  .column.xl-left1point5 {
    margin-left: 12.5%; }

  .column.xl-right1point5 {
    margin-right: 12.5%; }

  .column.xl-span2point4 {
    width: 20%; }

  .column.xl-left2point4 {
    margin-left: 20%; }

  .column.xl-right2point4 {
    margin-right: 20%; } }
/*------------*/
/* Typography */
/*------------*/
h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
  color: #4e8452;
  font-weight: 400;
  letter-spacing: 0.1rem; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 1rem; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.2rem; }

h4, h5, h6, p, li, th, td {
  color: #777c79; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 2rem; }

p, li {
  font-size: 2rem;
  line-height: 2; }

p, li, td {
  font-weight: 300; }

p {
  margin: 1.5rem 0; }

strong {
  font-weight: 600; }

small {
  font-size: 80%; }

pre {
  padding: 1rem;
  background-color: #eee;
  white-space: pre-wrap; }

hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: solid 1px #aaa; }

a {
  color: #4e8452;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    color: #2e5630; }

/*-------*/
/* Forms */
/*-------*/
label {
  display: block;
  font-weight: 400;
  line-height: 1.5; }

label, input, button, select, textarea {
  font: 20px/1.5 "Open Sans", sans-serif;
  font-size: 2rem; }

label, input, select, textarea {
  margin: 1rem 0; }

button, input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 300; }

input, select, textarea {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px #aaa;
  opacity: 0.75; }
  input:focus, select:focus, textarea:focus {
    opacity: 1; }

input, select {
  height: 4.2rem; }

input[type='checkbox'], input[type='radio'], input[type='button'], input[type='submit'] {
  width: auto; }
input[type='checkbox'], input[type='radio'] {
  height: auto; }
input[type='checkbox'] {
  -webkit-appearance: checkbox; }
input[type='file'] {
  padding: 0;
  border: 0;
  line-height: 1; }
input[type='radio'] {
  -webkit-appearance: radio; }

input[type='button'], input[type='submit'], button {
  height: auto;
  font-weight: 400;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer; }

input[type='submit'] {
  font-size: 2.4rem; }

select {
  background-color: #fff;
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 30" enable-background="new 0 0 18 30" xml:space="preserve"><path fill="%23999999" d="M17.8,8.8c0,0.3-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3H1.3C1,9.9,0.8,9.7,0.6,9.5 C0.3,9.3,0.2,9.1,0.2,8.8c0-0.3,0.1-0.6,0.3-0.8l7.7-7.7C8.4,0.1,8.7,0,9,0c0.3,0,0.6,0.1,0.8,0.3L17.4,8 C17.7,8.2,17.8,8.5,17.8,8.8z"/><path fill="%23999999" d="M17.4,20.5c0.2,0.2,0.3,0.5,0.3,0.8c0,0.3-0.1,0.6-0.3,0.8l-7.7,7.7C9.6,29.9,9.3,30,9,30 c-0.3,0-0.6-0.1-0.8-0.3L0.6,22c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3h15.3 C17,20.1,17.2,20.3,17.4,20.5z"/></svg>');
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: 12px; }
  select[multiple='multiple'] {
    height: auto;
    background-image: none; }

textarea {
  max-width: 100%; }

/*--------*/
/* Tables */
/*--------*/
table {
  table-layout: fixed;
  width: 100%;
  margin: 1rem 0;
  border: solid 1px #d5d5d5;
  border-collapse: collapse; }

thead {
  background-color: #d5d5d5; }

tr:nth-child(even) {
  background-color: #eee; }

th {
  font-weight: 600;
  text-align: left; }

td, th {
  padding: 0.5rem;
  font-size: 1rem; }
  td > *:first-child, th > *:first-child {
    margin-top: 0; }
  td > *:last-child, th > *:last-child {
    margin-bottom: 0; }
  td, td h1, td h2, td h3, td h4, td h5, td h6, td p, td li, th, th h1, th h2, th h3, th h4, th h5, th h6, th p, th li {
    line-height: 1.5; }

/*--------*/
/* Header */
/*--------*/
.main-header {
  padding: 3rem 0; }
  .main-header h1, .main-header h2, .main-header h3 {
    color: #777c79; }

.logo-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 60%; }
  .logo-container svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }

/*----------*/
/* Sections */
/*----------*/
section {
  position: relative;
  padding: 3rem 0; }

.section-headline {
  text-align: center; }
  .section-headline .column {
    padding-top: 0;
    padding-bottom: 0; }

/*------*/
/* Bear */
/*------*/
.bear-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 125%; }
  .bear-container svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }

.calculating-bear {
  display: none; }
  .calculating-bear.fixed-bear {
    position: fixed;
    top: 30px;
    right: 0;
    left: 0; }
    .calculating-bear.fixed-bear .calculating-bear-inner {
      position: relative; }
    .calculating-bear.fixed-bear .calculating-bear-inner-inner {
      position: absolute;
      top: 10px;
      right: 10px;
      left: calc((100% * 2/3) + 10px); }
    .calculating-bear.fixed-bear h4 {
      visibility: visible;
      opacity: 1; }
    .calculating-bear.fixed-bear .calculation-plus, .calculating-bear.fixed-bear .calculation-minus, .calculating-bear.fixed-bear .calculation-multiply, .calculating-bear.fixed-bear .calculation-divide {
      -webkit-transform-origin: center center;
      transform-origin: center center; }
    .calculating-bear.fixed-bear .calculation-plus {
      -webkit-animation: pluswiggle 1s infinite steps(1);
      -moz-animation: pluswiggle 1s infinite steps(1);
      animation: pluswiggle 1s infinite steps(1); }
    .calculating-bear.fixed-bear .calculation-minus {
      -webkit-animation: minuswiggle 1s infinite steps(1);
      -moz-animation: minuswiggle 1s infinite steps(1);
      animation: minuswiggle 1s infinite steps(1); }
    .calculating-bear.fixed-bear .calculation-multiply {
      -webkit-animation: multiplywiggle 1s infinite steps(1);
      -moz-animation: multiplywiggle 1s infinite steps(1);
      animation: multiplywiggle 1s infinite steps(1); }
    .calculating-bear.fixed-bear .calculation-divide {
      -webkit-animation: dividewiggle 1s infinite steps(1);
      -moz-animation: dividewiggle 1s infinite steps(1);
      animation: dividewiggle 1s infinite steps(1); }
    .calculating-bear.fixed-bear .calculating-bear-eyes {
      -webkit-animation: moveeyes 1s infinite steps(1);
      -moz-animation: moveeyes 1s infinite steps(1);
      animation: moveeyes 1s infinite steps(1); }
  .calculating-bear h4 {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    visibility: hidden;
    margin-top: 0.5rem;
    text-align: center;
    opacity: 0; }

@-webkit-keyframes pluswiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(10deg);
    transform: translate(-10%, -10%) rotate(10deg); } }
@-moz-keyframes pluswiggle {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  50% {
    transform: translate(-10%, -10%) rotate(10deg); } }
@keyframes pluswiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(10deg);
    transform: translate(-10%, -10%) rotate(10deg); } }
@-webkit-keyframes minuswiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(10%, 10%) rotate(-10deg);
    transform: translate(10%, 10%) rotate(-10deg); } }
@-moz-keyframes minuswiggle {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  50% {
    transform: translate(10%, 10%) rotate(-10deg); } }
@keyframes minuswiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(10%, 10%) rotate(-10deg);
    transform: translate(10%, 10%) rotate(-10deg); } }
@-webkit-keyframes multiplywiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(10%, -10%) rotate(10deg);
    transform: translate(10%, -10%) rotate(10deg); } }
@-moz-keyframes multiplywiggle {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  50% {
    transform: translate(10%, -10%) rotate(10deg); } }
@keyframes multiplywiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(10%, -10%) rotate(10deg);
    transform: translate(10%, -10%) rotate(10deg); } }
@-webkit-keyframes dividewiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(-10deg);
    transform: translate(-10%, -10%) rotate(-10deg); } }
@-moz-keyframes dividewiggle {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  50% {
    transform: translate(-10%, -10%) rotate(-10deg); } }
@keyframes dividewiggle {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(-10deg);
    transform: translate(-10%, -10%) rotate(-10deg); } }
@-webkit-keyframes moveeyes {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0); } }
@-moz-keyframes moveeyes {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(5%, 0); } }
@keyframes moveeyes {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0); } }
/*--------*/
/* Footer */
/*--------*/
.main-footer {
  padding: 3rem 0;
  background-color: #555; }
  .main-footer h1, .main-footer h2, .main-footer h3, .main-footer h4, .main-footer h5, .main-footer h6 {
    color: #afdbb0; }
  .main-footer, .main-footer p, .main-footer li, .main-footer th, .main-footer td, .main-footer a {
    color: #fff; }
  .main-footer a:hover {
    color: rgba(255, 255, 255, 0.75); }

/*---------------*/
/* Home / Survey */
/*---------------*/
#goals .section-main-content {
  text-align: center; }
  #goals .section-main-content h4 {
    margin-top: 0; }
#goals .column-inner, #goals .section-main-content h4, #goals .bb {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
#goals .column-inner {
  padding-top: 2rem;
  padding-bottom: 3rem; }
  #goals .column-inner.active {
    background-color: rgba(175, 219, 176, 0.5); }
    #goals .column-inner.active h4, #goals .column-inner.active .bb {
      color: #2e5630; }
#goals .bb {
  display: block;
  margin: 0 auto;
  color: #afdbb0;
  font-size: 100px;
  cursor: pointer; }
  #goals .bb:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
#goals input {
  display: none; }

#survey > .row {
  position: relative; }

.survey-questions {
  padding: 0; }
  .survey-questions .row {
    padding: 1.5rem 0; }
    .survey-questions .row.section-subhead {
      padding-bottom: 0; }
      .survey-questions .row.section-subhead .column > *:last-child {
        margin-bottom: 0; }
  .survey-questions .column {
    padding-top: 0;
    padding-bottom: 0; }

.toggleMortgage, .toggleCar, .toggleCollege, .toggleLoans {
  display: none; }

.submit-survey {
  padding-top: 6rem;
  text-align: center; }
  .submit-survey button {
    padding: 1.5rem 2rem;
    font-size: 2.4rem; }

#results {
  display: none; }

/*---------*/
/* Results */
/*---------*/
body.results .main-header {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 0; }
  body.results .main-header .row:first-child {
    display: none; }
  body.results .main-header h2 {
    display: none; }
body.results #introduction, body.results #goals, body.results #survey {
  display: none; }
body.results #results {
  display: block; }

.primary-recommendation, .secondary-recommendation {
  text-align: center; }
  .primary-recommendation .bb, .secondary-recommendation .bb {
    color: #4e8452;
    font-size: 200px; }

.primary-recommendation h1, .secondary-recommendation h3 {
  margin: 0;
  color: #afdbb0;
  line-height: 1.25; }

.primary-recommendation-content, .secondary-recommendation {
  padding-bottom: 3rem; }

.secondary-recommendation .column:last-child {
  text-align: left; }
.secondary-recommendation .bb {
  color: #afdbb0; }

.tertiary-recommendations {
  padding-bottom: 6rem;
  text-align: center; }
  .tertiary-recommendations .bb {
    display: block;
    color: #afdbb0;
    font-size: 50px; }

#resultGoals {
  text-align: center; }
  #resultGoals .bb {
    padding: 3px;
    border-radius: 50%;
    color: #aaa; }
  #resultGoals .active .bb {
    background-color: rgba(175, 219, 176, 0.5);
    color: #4e8452; }

/*-------------*/
/* Tests Page  */
/*-------------*/
#testoverview, #testresults {
  max-width: 1000px;
  margin: 0 auto;
  color: #000; }

#testoverview table {
  table-layout: auto; }
#testoverview th, #testoverview td {
  font-size: 1.6rem; }

.test-pass {
  background-color: #e4f3e4; }

.test-fail {
  background-color: #ffeaea; }

/*---------------*/
/* Media Queries */
/*---------------*/
@media all and (min-width: 480px) {
  th, td {
    font-size: 1.4rem; } }
@media all and (min-width: 660px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4rem; }

  h3 {
    font-size: 2.5rem; }

  .calculating-bear {
    display: block; } }
@media all and (min-width: 850px) {
  th, td {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 2rem; } }

/*# sourceMappingURL=main.css.map */
