@font-face {
	font-family: 'budgetbear';
	src:url('../fonts/budgetbear.eot?b59eu3');
	src:url('../fonts/budgetbear.eot?#iefixb59eu3') format('embedded-opentype'),
		url('../fonts/budgetbear.ttf?b59eu3') format('truetype'),
		url('../fonts/budgetbear.woff?b59eu3') format('woff'),
		url('../fonts/budgetbear.svg?b59eu3#budgetbear') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb {
	display: inline-block;
	font-family: 'budgetbear';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bb-suitcase:before {
	content: "\e60a";
}
.bb-dollar:before {
	content: "\e603";
}
.bb-bill:before {
	content: "\e600";
}
.bb-car:before {
	content: "\e601";
}
.bb-credit-cards:before {
	content: "\e602";
}
.bb-graduation-cap:before {
	content: "\e604";
}
.bb-house:before {
	content: "\e605";
}
.bb-palm-tree:before {
	content: "\e606";
}
.bb-piggy-bank:before {
	content: "\e607";
}
.bb-sapling:before {
	content: "\e608";
}
.bb-star:before {
	content: "\e609";
}
