/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    color: $text-color;
    font: 20px / 1.5 $font-family-open-sans;
    font-size: 2rem;
    font-weight: $light;
}

main {
    display: block;
    
    ul, ol {
        margin-left: $text-space-unit * 3;
    }
}
