/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    color: $text-color;
    font: 14px / 1.5 $font-family-open-sans;
    font-size: 1.4rem;
    font-weight: $light;
    
    @include breakpoint($size-md) {
        font-size: 1.6rem;
    }
    
    @include breakpoint($size-lg) {
        font-size: 2rem;
    }
}

main {
    display: block;
    
    ul, ol {
        margin-left: $text-space-unit * 3;
    }
}
