/*-------------*/
/* Grid System */
/*-------------*/

.row {
    @extend %clearfix;
    @extend %page-max-width;
}

.column {
    float: left;
    min-height: 1px;
    padding: 10px;
    
    &.center {
        float: none;
        margin: 0 auto;
    }
}

@for $i from 1 through 12 {
    .column.xs-span#{$i} {
        width: 100% / 12 * $i;
    }
}

@for $i from 0 through 12 {
    .column.xs-left#{$i} {
        margin-left: 100% / 12 * $i;
    }

    .column.xs-right#{$i} {
        margin-right: 100% / 12 * $i;
    }
}

.column.xs-span1point5 {
    width: 100% / 12 * 1.5;
}

.column.xs-left1point5 {
    margin-left: 100% / 12 * 1.5;
}

.column.xs-right1point5 {
    margin-right: 100% / 12 * 1.5;
}

.column.xs-span2point4 {
    width: 20%;
}

.column.xs-left2point4 {
    margin-left: 20%;
}

.column.xs-right2point4 {
    margin-right: 20%;
}

@media screen and (min-width: $size-sm) {
    @for $i from 1 through 12 {
        .column.sm-span#{$i} {
            width: 100% / 12 * $i;
        }
    }
    
    @for $i from 0 through 12 {
        .column.sm-left#{$i} {
            margin-left: 100% / 12 * $i;
        }

        .column.sm-right#{$i} {
            margin-right: 100% / 12 * $i;
        }
    }
    
    .column.sm-span1point5 {
        width: 100% / 12 * 1.5;
    }
    
    .column.sm-left1point5 {
        margin-left: 100% / 12 * 1.5;
    }
    
    .column.sm-right1point5 {
        margin-right: 100% / 12 * 1.5;
    }

    .column.sm-span2point4 {
        width: 20%;
    }
    
    .column.sm-left2point4 {
        margin-left: 20%;
    }

    .column.sm-right2point4 {
        margin-right: 20%;
    }
}

@media screen and (min-width: $size-md) {
    @for $i from 1 through 12 {
        .column.md-span#{$i} {
            width: 100% / 12 * $i;
        }
    }
    
    @for $i from 0 through 12 {
        .column.md-left#{$i} {
            margin-left: 100% / 12 * $i;
        }

        .column.md-right#{$i} {
            margin-right: 100% / 12 * $i;
        }
    }
    
    .column.md-span1point5 {
        width: 100% / 12 * 1.5;
    }
    
    .column.md-left1point5 {
        margin-left: 100% / 12 * 1.5;
    }
    
    .column.md-right1point5 {
        margin-right: 100% / 12 * 1.5;
    }

    .column.md-span2point4 {
        width: 20%;
    }
    
    .column.md-left2point4 {
        margin-left: 20%;
    }

    .column.md-right2point4 {
        margin-right: 20%;
    }
}

@media screen and (min-width: $size-lg) {
    @for $i from 1 through 12 {
        .column.lg-span#{$i} {
            width: 100% / 12 * $i;
        }
    }
    
    @for $i from 0 through 12 {
        .column.lg-left#{$i} {
            margin-left: 100% / 12 * $i;
        }

        .column.lg-right#{$i} {
            margin-right: 100% / 12 * $i;
        }
    }
    
    .column.lg-span1point5 {
        width: 100% / 12 * 1.5;
    }
    
    .column.lg-left1point5 {
        margin-left: 100% / 12 * 1.5;
    }
    
    .column.lg-right1point5 {
        margin-right: 100% / 12 * 1.5;
    }

    .column.lg-span2point4 {
        width: 20%;
    }
    
    .column.lg-left2point4 {
        margin-left: 20%;
    }

    .column.lg-right2point4 {
        margin-right: 20%;
    }
}