/*---------------*/
/* Media Queries */
/*---------------*/

@media all and (min-width: $size-sm) {
    th, td {
        font-size: 1.4rem;
    }
}

@media all and (min-width: $size-md) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    .calculating-bear {
        display: block;
    }
}

@media all and (min-width: $size-lg) {
    th, td {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2rem;
    }
}

@media all and (min-width: $size-xl) {
}