/*--------*/
/* Tables */
/*--------*/

table {
    width: 100%;
    border: solid 1px rgba($medium-gray, 0.5);
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba($medium-gray, 0.2);
}

th {
    font-weight: $semibold;
}

td, th {
    vertical-align: top;
    padding: 5px;
}