/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    @include transition (all 0.4s ease);
    @extend %default-border-radius;
    display: inline-block;
    padding: 10px 15px;
    border: solid 1px $primary-color;
    background-color: $primary-color;
    color: #fff;
    font-weight: $normal;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        border-color: $dark-primary-color;
        background-color: $dark-primary-color;
        color: #fff;
    }
    
    &.button-large {
        padding: 15px 20px;
        font-size: 2.4rem;
    }
    
    &.button-transparent {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
    }
    
    &.button-light {
        background-color: $light-primary-color;
        border-color: $light-primary-color;
        color: $dark-primary-color;
    }
    
    &.button-dark-gray {
        background-color: $dark-gray;
        border-color: $dark-gray;
    }
    
    &.button-transparent, &.button-light, &.button-black {
        &:hover {
            background-color: $primary-color;
            border-color: #fff;
            color: #fff;
        }
    }
}

.button {
    @extend %button;
}

.up-and-down-buttons {
    @include display-flex;
    @include justify-content(center);
    
    .button-area {
        @include flex(0 1 80px);
        margin-left: 10px;
        text-align: center;
        
        &:first-child {
            margin-left: 0;
        }
        
        p {
            margin: 0;
            border-left: solid 1px $light-gray;
            border-right: solid 1px $light-gray;
            font-size: 1.6rem;
        }
    }
    
    input[type='button'] {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border-color: $light-gray;
        background-color: $light-gray;
        color: $primary-color;
        font-size: 2rem;
        font-weight: $semibold;
        line-height: 1;
        
        &:first-child {
            border-radius: 10px 10px 0 0;
            
            &:hover {
                border-color: $light-primary-color;
                background-color: $light-primary-color;
            }
        }
        
        &:last-child {
            border-radius: 0 0 10px 10px;
            
            &:hover {
                border-color: #ecc7d1;
                background-color: #ecc7d1;
            }
        }
    }
}