//-----------//
// Variables //
//-----------//

$size-sm: 480px;
$size-md: 660px;
$size-lg: 850px;
$size-xl: 1024px;

$max-width: 1000px;

$space-unit: 3rem;
$text-space-unit: 1rem;

$font-family-open-sans: 'Open Sans', sans-serif;

$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #555;

$primary-color: #4e8452;
$light-primary-color: #afdbb0;
$dark-primary-color: #2e5630;

$secondary-color: #f2e5cc;

$text-color: #777c79;