/*---------------*/
/* Home / Survey */
/*---------------*/

#goals {
    .section-main-content {
        text-align: center;
        
        h4 {
            margin-top: 0;
        }
    }
    
    .column-inner, .section-main-content h4, .bb {
        @include transition(all 0.4s ease);
    }
    
    .column-inner {
        padding-top: $space-unit - 1rem;
        padding-bottom: $space-unit;
        
        &.active {
            background-color: rgba($light-primary-color, 0.5);
            
            h4, .bb {
                color: $dark-primary-color;
            }
        }
    }
    
    .bb {
        display: block;
        margin: 0 auto;
        color: $light-primary-color;
        font-size: 100px;
        cursor: pointer;
        
        &:hover {
            @include transform(scale(1.2));
        }
    }
    
    input {
        display: none;
    }
}

#survey {
    > .row {
        position: relative;
    }
}

.survey-questions {
    padding: 0;
    
    .row {
        padding: ($space-unit / 2) 0;
        
        &.section-subhead {
            padding-bottom: 0;
    
            .column > *:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.toggleMortgage, .toggleCar, .toggleCollege, .toggleLoans {
    display: none;
}

.submit-survey {
    padding-top: $space-unit * 2;
    text-align: center;
    
    button {
        padding: 1.5rem 2rem;
        font-size: 2.4rem;
    }
}

#results {
    display: none;
}