/*---------*/
/* Results */
/*---------*/

body.results {
    .main-header {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 0;

        .row:first-child {
            display: none;
        }

        h2 {
            display: none;
        }
    }
    
    #introduction, #goals, #survey {
        display: none;
    }
    
    #results {
        display: block;
    }
}

.primary-recommendation, .secondary-recommendation {
    text-align: center;
    
    .bb {
        color: $primary-color;
        font-size: 200px;
    }
}

.primary-recommendation h1, .secondary-recommendation h3 {
    margin: 0;
    color: $light-primary-color;
    line-height: 1.25;
}

.primary-recommendation-content, .secondary-recommendation {
    padding-bottom: $space-unit;
}

.secondary-recommendation {
    .column:last-child {
        text-align: left;
    }
    
    .bb {
        color: $light-primary-color;
    }
}

.tertiary-recommendations {
    padding-bottom: $space-unit * 2;
    text-align: center;
    
    .bb {
        display: block;
        color: $light-primary-color;
        font-size: 50px;
    }
}

.result-table-icons {
    text-align: center;
    
    .bb {
        padding: 3px;
        border-radius: 50%;
        color: $medium-gray;
    }
    
    .active {
        .bb {
            background-color: rgba($light-primary-color, 0.5);
            color: $primary-color;
        }
    }
}