/*------*/
/* Bear */
/*------*/

.bear-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: (100% * 600 / 480);
    
    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

.calculating-bear {
    display: none;
    padding: $space-unit 1rem;
    
    h4 {
        visibility: hidden;
        margin-top: 0.5rem;
        text-align: center;
        opacity: 0;
        @include transition(all 2s ease);
    }
    
    &.fixed-bear, &.end-bear {
        right: 0;
        
        h4 {
            visibility: visible;
            opacity: 1;
        }
        
        .calculation-plus {
            @include animation(pluswiggle 1s infinite steps(1));
        }
        
        .calculation-minus {
            @include animation(minuswiggle 1s infinite steps(1));
        }
        
        .calculation-multiply {
            @include animation(multiplywiggle 1s infinite steps(1));
        }
        
        .calculation-divide {
            @include animation(dividewiggle 1s infinite steps(1));
        }
        
        .calculation-eyes {
            @include animation(moveeyes 1s infinite steps(1));
        }
        
        .calculation-calculator {
            @include animation(movecalculator 1s infinite steps(1));
        }
        
        .calculation-right-thumb {
            @include animation(moverightthumb 1s infinite steps(1));
        }
        
        .calculation-right-paw {
            @include animation(moverightpaw 1s infinite steps(1));
        }
        
        .calculation-left-thumb {
            @include animation(moveleftthumb 1s infinite steps(1));
        }
        
        .calculation-left-paw, .calculation-left-arm  {
            @include animation(moveleftarm 1s infinite steps(1));
        }
    }
    
    &.fixed-bear {
        position: fixed;
        top: 0;
        width: (100% / 3);
        max-width: ($max-width / 3);
        
        // Once the page reaches its max width, this positions the bear so it
        // appears to be held in the same container as the rest of the content.
        @include breakpoint($max-width) {
            right: auto;
            left: calc(50% + #{($max-width / 6)});
        }
    }
    
    &.end-bear {
        position: absolute;
        top: auto;
        bottom: 0;
    }
}

.calculating-bear-inner-inner {
    padding: $space-unit 0;
}

@mixin make-keyframes($name, $start-transform, $end-transform) {
    @-webkit-keyframes #{$name} {
        0%  {
            -webkit-transform: $start-transform;
            transform: $start-transform;
        }
        
        50% {
            -webkit-transform: $end-transform;
            transform: $end-transform;
        }
    }

    @-moz-keyframes #{$name} {
        0%  {
            transform: $start-transform;
        }
        
        50% {
            transform: $end-transform;
        }
    }

    @keyframes #{$name} {
        0%  {
            -webkit-transform: $start-transform;
            transform: $start-transform;
        }
        
        50% {
            -webkit-transform: $end-transform;
            transform: $end-transform;
        }
    }
}

@include make-keyframes(pluswiggle, translate(0, 0), translate(10px, 0));
@include make-keyframes(minuswiggle, translate(0, 0), translate(10px, -10px));
@include make-keyframes(multiplywiggle, translate(0, 0), translate(0, -10px));
@include make-keyframes(dividewiggle, translate(0, 0), translate(-10px, -5px));

@include make-keyframes(moveeyes, translate(0, 0), translate(10px, 0));

@include make-keyframes(movecalculator, translate(-1px, 0), translate(1px, 4px));

@include make-keyframes(moverightthumb, translate(0, 3px), translate(0, -3px));
@include make-keyframes(moverightpaw, translate(0, 3px), translate(0, 0));

@include make-keyframes(moveleftthumb, translate(0, 0px), translate(0, 8px));
@include make-keyframes(moveleftarm, translate(0, 0px), translate(0, 3px));
