/*--------*/
/* Footer */
/*--------*/

.main-footer {
    padding: $space-unit 0;
    background-color: $dark-gray;
    
    h1, h2, h3, h4, h5, h6 {
        color: $light-primary-color;
    }
    
    &, p, li, th, td, a {
        color: #fff;
    }
    
    a:hover {
        color: rgba(#fff, 0.75);
    }
}