/*--------*/
/* Header */
/*--------*/

.main-header {
    padding: $space-unit 0;
    
    h1, h2, h3 {
        color: $text-color;
    }
    
    &.results-header {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 0;

        .row:first-child {
            display: none;
        }
        
        h2 {
            display: none;
        }
    }
}

.logo-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: (100% * 3 / 5);
    
    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}