/*--------*/
/* Header */
/*--------*/

.main-header {
    padding: 30px 0;
    
    h1, h2, h3, h4, h5, h6 {
        color: $text-color;
    }
}

.logo-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: (100% * 3 / 5);
    
    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}