/*----------*/
/* Sections */
/*----------*/

section {
    position: relative;
    padding: $space-unit 0;
}

.section-headline {
    text-align: center;
    
    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
}